* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    font-family: 'Open Sans';
}

.v-middle {
    vertical-align: middle;
}

/* GENERICS FLEX */
.d-flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.grow-0 {
    flex-grow: 0;
}

.align-items-fstart {
    align-items: flex-start;
}

.rowgap-30 {
    row-gap: 30px;
}

.align-items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.j-center {
    justify-content: center;
}

/* POSITION */

.p-fixed {
    position: fixed;
}

.p-relative {
    position: relative;
}

/* MARGIN */

.mx-auto {
    margin: 0 auto;
}

.mb-30 {
    margin-bottom: 30px;
}

/* PADDING */
.p-10 {
    padding: 10px;
}

.pt-70 {
    padding-top: 70px;
}

.pr-80 {
    padding-right: 80px;
}

/* LAYOUT */

.full-container {
    width: 100%;
}

.big-container {
    max-width: 70%;
}

header.left-col {
    width: 50%;
}

header.right-col {
    width: 50%;
}

.left-col {
    width: 40%;
}
.right-col {
    width: 60%;
}

/* TXT PROPERTIES */

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

/* BTN */

.btn-style {
    padding: 5px 15px;
}

.btn-blue {
    background-color: #0061fe;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.btn-blue:hover {
    background-color: #0042ac;
}

/* HEADER */

header {
    background-color: #ffffff;
    right: 0;
    left: 0;
}

header a:not(.btn-style) {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

header a:not(.btn-style):hover {
    color: black;
    text-decoration: underline;
}

header span, header img {
    vertical-align: middle;
    margin-right: 15px;
}

/* MAIN */

/* jumbotron */

.jumbo {
    background-color: #b4d0e6;
}

.jumbo>.big-container {
    top: 70px;
}

.jumbo h1 {
    font-size: 91px;
    margin: 10px 0 30px;
}

.jumbo img {
    width: 100%;
}

.left-col i {
    font-size: 70px;
    margin-top: 45px;
}